## Build output
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
*.sln.iml

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## MSIX / packaging
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
*.pfx
*.cer

## Publish
publish/
*.publishsettings
PublishScripts/

## Misc
*.cache
*.tmp
Thumbs.db
